<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.springcat.sample.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="org.springcat.sample.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="roles" property="roles" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${symbol_dollar}{criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${symbol_dollar}{criterion.condition} ${symbol_pound}{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${symbol_dollar}{criterion.condition} ${symbol_pound}{criterion.value} and ${symbol_pound}{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${symbol_dollar}{criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    ${symbol_pound}{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${symbol_dollar}{criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${symbol_dollar}{criterion.condition} ${symbol_pound}{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${symbol_dollar}{criterion.condition} ${symbol_pound}{criterion.value} and ${symbol_pound}{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${symbol_dollar}{criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    ${symbol_pound}{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, login_name, name, password, salt, roles, register_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.springcat.sample.entity.UserCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${symbol_dollar}{orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tuser
    where id = ${symbol_pound}{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tuser
    where id = ${symbol_pound}{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.springcat.sample.entity.UserCondition" >
    delete from tuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.springcat.sample.entity.User" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tuser (login_name, name, password,
      salt, roles, register_date
      )
    values (${symbol_pound}{loginName,jdbcType=VARCHAR}, ${symbol_pound}{name,jdbcType=VARCHAR}, ${symbol_pound}{password,jdbcType=VARCHAR},
      ${symbol_pound}{salt,jdbcType=VARCHAR}, ${symbol_pound}{roles,jdbcType=VARCHAR}, ${symbol_pound}{registerDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.springcat.sample.entity.User" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="roles != null" >
        roles,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginName != null" >
        ${symbol_pound}{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        ${symbol_pound}{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        ${symbol_pound}{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        ${symbol_pound}{salt,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        ${symbol_pound}{roles,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        ${symbol_pound}{registerDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.springcat.sample.entity.UserCondition" resultType="java.lang.Integer" >
    select count(*) from tuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tuser
    <set >
      <if test="record.id != null" >
        id = ${symbol_pound}{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loginName != null" >
        login_name = ${symbol_pound}{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = ${symbol_pound}{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = ${symbol_pound}{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null" >
        salt = ${symbol_pound}{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.roles != null" >
        roles = ${symbol_pound}{record.roles,jdbcType=VARCHAR},
      </if>
      <if test="record.registerDate != null" >
        register_date = ${symbol_pound}{record.registerDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tuser
    set id = ${symbol_pound}{record.id,jdbcType=BIGINT},
      login_name = ${symbol_pound}{record.loginName,jdbcType=VARCHAR},
      name = ${symbol_pound}{record.name,jdbcType=VARCHAR},
      password = ${symbol_pound}{record.password,jdbcType=VARCHAR},
      salt = ${symbol_pound}{record.salt,jdbcType=VARCHAR},
      roles = ${symbol_pound}{record.roles,jdbcType=VARCHAR},
      register_date = ${symbol_pound}{record.registerDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.springcat.sample.entity.User" >
    update tuser
    <set >
      <if test="loginName != null" >
        login_name = ${symbol_pound}{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = ${symbol_pound}{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = ${symbol_pound}{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = ${symbol_pound}{salt,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        roles = ${symbol_pound}{roles,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = ${symbol_pound}{registerDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = ${symbol_pound}{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.springcat.sample.entity.User" >
    update tuser
    set login_name = ${symbol_pound}{loginName,jdbcType=VARCHAR},
      name = ${symbol_pound}{name,jdbcType=VARCHAR},
      password = ${symbol_pound}{password,jdbcType=VARCHAR},
      salt = ${symbol_pound}{salt,jdbcType=VARCHAR},
      roles = ${symbol_pound}{roles,jdbcType=VARCHAR},
      register_date = ${symbol_pound}{registerDate,jdbcType=TIMESTAMP}
    where id = ${symbol_pound}{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="org.springcat.sample.entity.UserCondition" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${symbol_dollar}{orderByClause}
    </if>
  </select>
</mapper>